.navbar{
    background-color: white;

}
.nav-link {
    color: rgb(253, 99, 125);
    font-weight: 500;
    font-size: 20px;
    
}
.nav-link:hover{
    background-color: #ff4081; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;

}

.btn{
    background-color: #ff4081; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
}